
/* Spezifische Suchleiste mit Icon (überschreibt global.css) */
.searchbar {
  background-color: #d4d0b9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100%; /* Volle Breite im Padding */
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
}

.searchIcon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.searchInput {
  background-color: #d4d0b9;
  border-radius: 5px;
  flex: 1;
  border: none; 
  outline: none;
  font-size: 16px;
  padding: 8px 0; 
}

.searchInput:focus {
  background-color: #d4d0b9;
  border-color: transparent; 
}


.profile-Swipe {
 position: relative; 
 display: flex; 
 flex-direction: column; 
 justify-content: center; 
 align-items: center; 
 background-color: #d4d0b9; 
 min-height: 385px; 
 padding: 20px; 
 border-radius: 10px;
 overflow: hidden;
 transition: transform 0.5s ease-out, background-color 0.4s ease-out;
 z-index: 10;
}
.profile-Swipe.swipe-left {
  transform: translateX(-150%) rotate(-20deg);
  background-color: #eb5757; /* Rot (Ablehnen-Farbe) */
}


.profile-Swipe.swipe-right {
  transform: translateX(150%) rotate(20deg);
  background-color: #6fcf97; /* Grün (Annehmen-Farbe) */
}


.profile-Swipe.no-transition {
  transition: none;
}


.profile-Swipe-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1; 
}


.profile-info-overlay {
  position: relative; 
  z-index: 2; 
  color: white; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); 
  text-align: center;
  width: 100%;
}

.profile-name-age {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-description {
  font-size: 16px;
  margin-bottom: 15px;
}

.profile-hobbies-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px;
  justify-content: center;
}

.profile-hobby-tag {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}

.app-container {
  padding-top: 75px;
}

.profile-actions {
  display: flex;
  justify-content: center; 
  gap: 40px;               
  margin-top: 10px;
}


.profile-actions button {
  padding: 12px 15px;     
  border-radius: 25px;    
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;           
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}


#reject-btn {
  background: #eb5757; 
}


#accept-btn {
  background: #6fcf97; 
}


.profile-actions button:active {
  transform: scale(0.95);
}

.icon-bar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 70px;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%; 
   border-top: 1px solid #d4d0b9;
   background-color: #afb59d;
}
